@import './../../shared/styles/variables';
@import './../../shared/styles/mixins';



.text {
    font-size: 16px;
    line-height: 1.5em;
    color: $clr-grey;
    font-weight: 400;
}

.tooltip {
    position: absolute;
    z-index: 5;
    background: $clr-white;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .06);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .06);
    padding: 15px 25px;
    text-align: center;
    left: 50%;
    top: 100%;
    width: 256px;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(50px);
    -ms-transform: translateX(-50%) translateY(50px);
    transform: translateX(-50%) translateY(50px);
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
    }

    &::after {
        content: '';
        position: absolute;
        top: -7px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 7px;
        border-left-width: 7px;
        border-bottom: 7px solid $clr-white;
    }
}

.header-cart {
    position: relative;
    min-width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;

    & div:first-child {
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }
}

.header-cart p {
    font-size: 16px;
    margin-top: 3px;
    line-height: 1em;
    color: $clr-black;
}

.header-cart .tooltip {
    left: 15px;
}

.header-cart .tooltip {
    left: 15px;
}

.header-cart svg {
    width: 30px;
    height: 30px;
}

.header-cart i {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 24px;
    text-align: center;
    position: absolute;
    left: 14px;
    top: -12px;
    z-index: 1;
    color: $clr-white;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: $clr-secondary;
    }
}

//media

@media (min-width: 1200px) {
    .header-cart.empty:hover .tooltip {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(10px);
        -ms-transform: translateX(-50%) translateY(10px);
        transform: translateX(-50%) translateY(10px);
    }
}

@media (max-width: 1730px) {
    .header-cart svg {
        width: 28px;
        height: 28px;
    }

    .header-cart i {
        font-size: 12px;
        line-height: 22px;
        width: 22px;
        left: 12px;
        top: -8px;
    }

    .header-cart i::before {
        width: 22px;
        height: 22px;
    }

    .header-cart p {
        font-size: 14px;
    }
}

@media (max-width: 1199px) {

    .header-cart {
        min-width: auto;
    }

    .header-cart p {
        display: none;
    }
}

@media (max-width: 374px) {
    .header-cart svg {
        width: 22px;
        height: 22px;
    }
}