@import './../../../shared/styles/variables';


.form-cabinet .form-group {
    margin-bottom: 20px;
}

.form-cabinet .form-group:last-of-type {
    margin-bottom: 0;
}

.form-cabinet .form-group>*+* {
    margin-top: 15px;
}

.form-cabinet .row>[class*=col] {
    padding: 0 7.5px;
}

.form-group > *:not(button){
    padding: 0 7.5px;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
}