<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 col-xxl-6">
        <form class="form-cabinet" id="user-edit-password">
            <div class="form-group">
                <input type="password" name="old_password" placeholder="*Ваш поточний пароль" class="input" required="">
                <div class="row">
                    <div class="col-md-6">
                        <input name="password" type="password" placeholder="*Ваш новий пароль" class="input"
                            required="">
                    </div>
                    <div class="col-md-6">
                        <input name="password2" type="password" placeholder="*Повторіть новий пароль" class="input"
                            required="">
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="button">
                    <span>Зберегти зміни</span>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="spacer-sm"></div>