<div class="section cabinet-section">
    <div class="spacer-sm"></div>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8 col-xxl-6 text-center">
                <h1 class="title title-decor h2">Улюблені</h1>
            </div>
        </div>
        <div class="spacer-xs"></div>

        <div class="row product-row justify-content-center">
            <p style="text-align:center;">Вибачте, але у вас немає улюблених товарів</p>
        </div>

    </div>
</div>
<div class="spacer-lg"></div>