<section class="section cabinet-section">
    <div class="spacer-sm"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="title title-decor h2">Адмін кабінет</h1>
            </div>
        </div>
        <div class="spacer-xs"></div>
        <div class="categories-menu" #container  (click)="menuSwitcher(container)">
            <div class="category-title">{{title}}</div>
            <ul class="categories-list">
                <li routerLinkActive="active" class="categories-list-item"><a routerLink="actions">Акції</a></li>
                <li routerLinkActive="active" class="categories-list-item"><a routerLink="orders">Замовленя</a></li>
                <li routerLinkActive="active" class="categories-list-item"><a routerLink="products">Товари</a></li>
                <li routerLinkActive="active" class="categories-list-item"><a routerLink="topings">Топінги</a></li>
                <li routerLinkActive="active" class="categories-list-item"><a routerLink="vacancy">Вакансії</a></li>
                <li routerLinkActive="active" class="categories-list-item"><a routerLink="news">Новини</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>