@import './../../shared/styles/variables';
@import './../../shared/styles/mixins';

.form{
    width: 100%;
    margin: 20px 0;

    &> *{
        margin-bottom: 15px;
    }
}

.buttons{
    margin-top: -15px;

    & .btn {
        padding: 8px;
        font-size: 14px;
        font-weight: 400;
        margin: 5px 0;
        margin-right: 5px;
    
        &:last-child {
            margin-right: 0;
        }
    }
}

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    background: $clr-translucent;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        max-width: 500px;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: $clr-white;
    }

    .row {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        & > button:first-child{
            margin-bottom: 10px;
        }
    }
}

.file-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.progress {
    height: 8px;
    border-radius: 5px;
    background-color: $clr-primary;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 0 auto 20px;

    & img {
        width: 60%;
        min-height: 160px;
        max-height: 240px;
    }
}

.table {
    width: 100%;
    @include flex-col();
    padding-top: 20px;
}

.table-row {
    display: flex;
    @include flex-row();
    padding: 15px 0;
    border-bottom: 2px solid $clr-fourth;
}

.table-head {
    border-top: 2px solid $clr-secondary;
    border-bottom: 2px solid $clr-secondary;
}

.hcell {
    font-weight: 700;
}

.cell {
    text-align: center;
    padding: 0 5px;
    @include flex-col();
    align-items: center;
    justify-content: center;

    & .img {
        width: 100%;
        max-height: 60px;
        min-height: 100%;
    }

    &>button {
        margin-right: auto;
        margin-left: auto;
    }
}

.cell-block {
    display: inline-block;
}

.cell-head {
    display: none;
}

.btn-cell {
    @include flex-col();
    align-items: center;
    gap: 10px;
}

.cell:nth-child(1) {
    width: 5%;
    min-width: 30px;
}

.cell:nth-child(2) {
    width: 35%;
    min-width: 80px;
}

.cell:nth-child(3) {
    width: 25%;
    min-width: 100px;
}

.cell:nth-child(4) {
    width: 25%;
    min-width: 100px;
}

.cell:nth-child(5) {
    width: 10%;
    min-width: 100px;
}

@media (max-width: 992px) {
    .row>* {
        width: 100%;
    }

    .table-head {
        display: none;
    }

    .cell-head {
        display: block;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }

    .table-row {
        flex-direction: column;
        border: 2px solid $clr-secondary;
        border-radius: 10px;
        padding: 0;
        margin-bottom: 20px;

        & .cell {
            width: 100%;
            border-bottom: 2px solid $clr-fourth;
            padding: 10px;

            &:last-child{
                border-bottom: none;
            }

            & .btn-cell{
                flex-direction: row;
            }
        }
    }
}